/* ====以下開始是商品詳情主內容==== */
.product-details-main{
    display: grid;
    grid-template-columns: 746fr 526fr;
    padding: var(--spacing-5xl) var(--spacing-l);
    gap: var(--spacing-l);
}

/* 商品照8張 */
.product-images-grid{
    display: grid;
    width: 100%;
    max-width: 746px;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--spacing-xs);
}
.product-images-grid img{
  width: 100%; 
  height: auto;
  object-fit: cover;
}

/* 右側商品詳情 */
.product-info{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xl);
}

/* 文字價格與介紹 */
/* 麵包屑 */
.breadcrumb{
  margin-bottom: var(--spacing-s);
}
.product-intro h2{
  margin-bottom: var(--spacing-m)
}
/* 價格 */
.price{
  display: flex;
  align-items: center;
  gap: var(--spacing-xs);
  margin-bottom: var(--spacing-m)
}
.price h5{
  color: var(--color-primary-400);
}
.price p{
  color: var(--color-neutral-500);
  text-decoration: line-through;
}
.product-intro p{
  margin-bottom: var(--spacing-s);   /* 12px */
}
.product-intro p:last-of-type{
  margin-bottom: 0; 
}

/* 顏色尺寸與按鈕 */
/* 顏色 */
.color p{
  margin-bottom: var(--spacing-xs)
}
.btn-wrapper{
  display: flex;
  gap: var(--spacing-xs);
}
/* 尺寸 */
.size{
  margin-top: var(--spacing-xl);
}
.size .paragraph-md{
  margin-bottom: var(--spacing-xs);
}
.option-grid{
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--spacing-xs);
}
.size .paragraph-sm{
  color:var(--color-danger);
  margin-top: var(--spacing-xs);
}
.spec-cta > .btn-wrapper{
  margin-top: var(--spacing-xl);
}
.btn-wrapper .btn{
  flex: 1;
}
.btn-neutral-outlined:hover img, .btn-neutral-outlined:focus img{
  filter: invert(1); /*顏色反過來*/
}


/* 產品說明 */
.accordion-item{
  margin-top: var(--spacing-s);
  margin-bottom: var(--spacing-s);
}
.accordion-item .label-md{
  margin-bottom: var(--spacing-xxs);
  color: var(--text-primary);
}
.accordion-item .paragraph-md{
  color: var(--text-secondary);
}


/* 猜你喜歡 */
.best-seller{
  padding: var(--spacing-3xl) 0;
}
.best-seller h4{
  margin-bottom: var(--spacing-m);
}
.card-wrapper{
  display: flex;
  gap: var(--spacing-l);
}

