<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./layout/head', { title: '商品列表' }); -%>
</head>
<body>

    <!-- 導覽列 -->
    <%- include('./layout/nav'); -%>

    <!-- 英雄大圖 -->
    <section class="hero">
        <div class="hero-text">
            <div class="display-1">URBNSTEP</div>
            <h3>Your Steps,Your Statement</h3>
            <button class="btn btn-primary">立即選購</button>
        </div>
    </section>


    <!-- banner 區塊 -->
    <%- include('./layout/banner'); -%>

    <!-- 頁腳 -->
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
</body>
</html>